@import "./fonts.css";

:root{
    --text: #FFFFFF;
    --primary: #ECE3DD;
    --primary2: #EBE4DE;
    --secondary: #B46325;
    --secondary2: #4A0000;
    --secondary3: #402511;
    --heading: #18181E;
}

html{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* 
   ################################
   ################# Navbar 
   ################################  
*/

#navBar .navbar{
    height: 13vh;
    background-color: transparent;
}

#navBar .navbar-brand img{
    margin-top: 100px;
    width: 8em;
}

#navBar .navbar>.container{
    /* border-bottom: 1px solid #b2b1b1; */
    padding: 20px 0;
}

#navBar .nav_links{
    width: auto;
    padding-right: 10px;
}

#navBar .nav_links a{
    /* padding-left: 80px;  */
    margin-left: 1.2rem;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 0.8rem;
    overflow: hidden;
    white-space : nowrap;
    color: var(--text);
}

#navBar .nav_links a:hover {
    /* color: #fff; */
    background-color: transparent;
    border-radius: 0;
    /* border-bottom: 2px solid #B46325; */
    font-weight: 700;
}

#navBar .nav_links a.active{
    font-weight: bold;
}

#navBar .nav_links .brochure{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 1.2rem;

    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 7px;
    padding: 10px 22px;
    
    border: none;
    outline: none;
}

/* 
   ################################
   ################# Home 
   ################################  
*/

#home{
    display: flex;
    background-image: url("../images/home1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: left;
    justify-content: left;
    align-items: center;
    z-index: -1;

    margin-top: -13vh;
}

#home h1{
    margin-top: 50vh;

    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 1.5rem;
    z-index: 2;
}

#home .home_heading{
    font-family: VentureHandmade, 'Poppins';
    font-size: 2.5rem;
    font-weight: 400;
}

#home p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 1.5rem;
    width: 45%;
    z-index: 2;
}

#home .know{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--text);
    background-color: transparent;
    border: 2px solid var(--text);
    border-radius: 5px;

    outline: none;
}

#home .know:hover{
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

#home .brochure{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 0.8rem;
    margin-right: 1.2rem;

    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 10px 22px;
    
    border: none;
    outline: none;
}

/* 
   ################################
   ################# Gallery
   ################################  
*/

#gallery {
    height: 100%;
    background-color: #F8F8F8;
}

#gallery .leftDiv hr{
    margin-top: 5rem;
    margin-left: -1rem;
    height: 2px;
    background-color: var(--heading);
    color: var(--heading);
}

#gallery .rightDiv h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--heading);

    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

#gallery .rightDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--heading);
    opacity: 0.75;

    font-size: 0.9rem;
    width: 95%;
}


/* Gallery Panels */

.cont {
    display: flex;
    width: 100%;
    padding: 1rem 0rem 5rem 0rem;
  }

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  

  .panel.active {
    flex: 3;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }

/* 
   ################################
   ################# Ease of Connectivity 
   ################################  
*/

#ease{
    height: 100%;
}

#ease .leftDiv{
    padding: 3rem 5rem;
    background-color: var(--heading);
    color: var(--text);

    height: 80vh;
}

#ease .leftDiv h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--text);

    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

#ease .leftDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text);
    opacity: 0.75;

    font-size: 0.9rem;
    /* width: %; */
    margin-bottom: 1.5rem;
}

#ease .leftDiv .easeBtn{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--text);
    background-color: transparent;
    border: 2px solid var(--text);
    border-radius: 5px;

    outline: none;
}

#ease .leftDiv .easeBtn:hover{
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

#ease #map{
    height: 80vh;
    /* width: 100%; */
}
/* 
   ################################
   ################# AMENITIES 
   ################################  
*/
#amenities{
    height: 95vh;
    padding: 4rem 6rem;
    padding-right: 3rem;
    /* background-color: var(--heading); */
    
}

#amenities .amhead h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color:var(--secondary2);
}

#amenities .amhead p{
    
    font-size: 0.9rem;
    color:var(--secondary2);
    opacity: 75%;
}
#amenities  .owl-carousel{
    margin-top: 3rem;
}
#amenities  .owl-carousel .item{
    height: 18rem;
    width: 14rem;
    background-color: antiquewhite;
    background: #EBE4DE 0% 0% no-repeat padding-box;
    border-radius: 5px;
    /* margin-left: 2rem; */
}   
#amenities .owl-carousel .owl-nav{
    position: absolute;
    top: -7rem;
    right: 0;
}
#amenities .owl-carousel .owl-dots{
    margin-top: 2rem;
}

#amenities .owl-carousel .owl-nav .owl-prev:hover,
#amenities .owl-carousel .owl-nav .owl-next:hover
{
    background: none !important;
    opacity: 50%;
}

/* 
   ################################
   ################# FLOOR PLANS 
   ################################  
*/

#floorplans{
    /* padding: 4rem 6rem; */
    margin-top: 2rem;
    height: 115vh;
    background-color: var(--heading);
}
#floorplans .topper{
    /* margin-top: -10rem; */
}

#floorplans .leftDiv hr{
    margin-top: 5rem;
    margin-left: -1rem;
    height: 2px;
    background-color:var(--text);
    color:var(--text);
}

#floorplans .rightDiv h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color:var(--text);

    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

#floorplans .rightDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:var(--text);
    opacity: 0.75;
    font-size: 0.9rem;
    width: 95%;
}
#floorplans #owl-2 .item{
    margin-left: 3rem;
    display: block;
    height: 496px;
    width: 904px;
    background: #EBE4DE 0% 0% no-repeat padding-box;
    /* border-radius: 5px; */
    opacity: 1;
    margin-top: 2rem;
}
#floorplans .owl-carousel .owl-nav{
}
#floorplans .owl-carousel .owl-nav .owl-prev{
    position: absolute;
    top: 40%;
    left: 0;
}
#floorplans .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 40%;
    right: 0;
}
#floorplans .owl-carousel .owl-nav .owl-prev:hover,
#floorplans .owl-carousel .owl-nav .owl-next:hover
{
    background: none !important;
    opacity: 50%;
}


/* 
   ################################
   ################# FOOTER 
   ################################  
*/
#footer{
    height: 77vh;
    background-color: var(--heading);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#footer .lefter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
}
#footer .lefter .mar{
    margin-bottom: 2rem;
}
#footer h1{
    color: var(--text);
    font-size: 1.5rem;
}
#footer p{
    font: normal normal normal 0.9rem Poppins;
    color: #FFFFFF;
    opacity: 0.73;
}

/* 
   ################################
   ################# FOOTER-2
   ################################  
*/
#footer-2{
    margin-top: -1rem;
    height: 9vh;
    background-color:#0E0E0E;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
#footer-2 .forus h1{
    margin-top: 0.7rem;
    font-size:0.9rem;
    color: var(--text);
    opacity: 0.73;
}


