@import "./fonts.css";

:root{
    --text: #FFFFFF;
    --primary: #ECE3DD;
    --primary2: #EBE4DE;
    --secondary: #B46325;
    --secondary2: #4A0000;
    --secondary3: #402511;
    --heading: #18181E;
}

html{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* 
   ################################
   ################# Navbar 
   ################################  
*/

#navBar .navbar{
    height: 13vh;
    background-color: transparent;
}

#navBar .navbar-brand img{
    margin-top: 100px;
    width: 8em;
}

#navBar .navbar>.container{
    /* border-bottom: 1px solid #b2b1b1; */
    padding: 20px 0;
}

#navBar .nav_links{
    width: auto;
    padding-right: 10px;
}

#navBar .nav_links a{
    /* padding-left: 80px;  */
    margin-left: 1.2rem;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 0.8rem;
    overflow: hidden;
    white-space : nowrap;
    color: var(--text);
}

#navBar .nav_links a:hover {
    /* color: #fff; */
    background-color: transparent;
    border-radius: 0;
    /* border-bottom: 2px solid #B46325; */
    font-weight: 700;
}

#navBar .nav_links a.active{
    font-weight: bold;
}

#navBar .nav_links .brochure{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 1.2rem;

    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 7px;
    padding: 10px 22px;
    
    border: none;
    outline: none;
}

/* 
   ################################
   ################# Home 
   ################################  
*/

#home{
    display: flex;
    background-image: url("../images/home1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: left;
    justify-content: left;
    align-items: center;
    z-index: -1;

    margin-top: -13vh;
}

#home h1{
    margin-top: 50vh;

    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 1.5rem;
    z-index: 2;
}

#home .home_heading{
    font-family: VentureHandmade, 'Poppins';
    font-size: 2.5rem;
    font-weight: 400;
}

#home p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 1.5rem;
    width: 45%;
    z-index: 2;
}

#home .know{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--text);
    background-color: transparent;
    border: 2px solid var(--text);
    border-radius: 5px;

    outline: none;
}

#home .know:hover{
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

#home .brochure{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 0.8rem;
    margin-right: 1.2rem;

    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 10px 22px;
    
    border: none;
    outline: none;
}

/* 
   ################################
   ################# Gallery
   ################################  
*/

#gallery {
    height: 100%;
}

#gallery .leftDiv hr{
    margin-top: 5rem;
    margin-left: -1rem;
    height: 2px;
    background-color: var(--heading);
    color: var(--heading);
}

#gallery .rightDiv h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--heading);

    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

#gallery .rightDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--heading);
    opacity: 0.75;

    font-size: 0.9rem;
    width: 95%;
}


/* Gallery Panels */

.cont {
    display: flex;
    width: 100%;
    padding: 1rem 0rem 5rem 0rem;
  }

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  

  .panel.active {
    flex: 3;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }

/* 
   ################################
   ################# Ease of Connectivity 
   ################################  
*/

#ease{
    height: 100%;
}

#ease .leftDiv{
    padding: 3rem 5rem;
    background-color: var(--heading);
    color: var(--text);

    height: 80vh;
}

#ease .leftDiv h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--text);

    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

#ease .leftDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text);
    opacity: 0.75;

    font-size: 0.9rem;
    /* width: %; */
    margin-bottom: 1.5rem;
}

#ease .leftDiv .easeBtn{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--text);
    background-color: transparent;
    border: 2px solid var(--text);
    border-radius: 5px;

    outline: none;
}

#ease .leftDiv .easeBtn:hover{
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

#ease #map{
    height: 80vh;
    /* width: 100%; */
}